body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.container-principal {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #808080;
  border-top: 0;
  border-bottom: 0;
  background: white;
}

.beginning {
  background-color: #000000;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 72px;
  margin: 0;
}

.site-navigation li {
  width: 300px;
}

.site-navigation li:nth-child(3) {
  width: 300px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  width: 300px;
  text-align: right;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation-current a:active {
  color: #766357;
}

.container {
  text-align: center;
}

.background-motto {
  background-color: #ffffff;
}

.motto {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features ul {
  list-style: none;
}

.recommendations ul {
  list-style: none;
}

.order b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  padding: 35px 141px;
  display: inline-block;
}

.search-button a:hover {
  color: #81b3d2;
}
.search-button a:focus {
  color: #ffffff;
  background-color: #604e43;
}
.search-button a:active {
  color: #766357;
  background-color: #503e33;
}

.order input {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

button {
  padding: 2px 5px;
  border: none;
  font: inherit;
  background-color: #f2f2f2;
}

button[type="submit"] {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding: 15px 191px;
  display: inline-block;
}

.main-footer {
  display: flex;
  width: 1200px;
}

.footer-more-about-us {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  list-style: none;
  margin-right: 5px;
}

.footer-social li:nth-child(3) {
  margin-right: 0px;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-copyright {
  text-align: center;
  color: #000000;
  font-weight: 700;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #81b3d2;
  }

.catalog-list {
  padding: 0;
  margin: 0;
}

.catalog-list li {
  list-style: none;
}

.catalog-item {
  display: flex;
  margin: 0;
  padding: 30px 72px;
  border: 1px solid #e5e5e5;
}

.business-card {
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 0px 30px;
}

.name-hotel {
  margin: 0;
}

.information {
   margin: 0;
   display: flex;
}

.catalog-buttons {
  margin: 0;
}

.button-details {
  padding: 5px 10px;
  border: none;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-booking {
  padding: 5px 10px;
  border: none;
  font: inherit;
  color: #ffffff;
  background-color: #503e33;
}

.catalog-rating {
  margin: 0;
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.classification {
  margin: 0;
  margin-left: auto;
}

.rating {
  margin: 0;
  padding: 2px 2px;
  border: none;
  font: inherit;
  width: 100px;
  height: 25px;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
